.MainCard{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 30px 60px;
    gap: 24px;
    margin-top: 60px;
    width: 40vw;
    z-index: 1;
    /* White */

    background: #FFFFFF;
    /* Normal box */

    box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
    border-radius: 15px;
}

.HeaderContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.HeadingLogo{
    width: 51px;
    height: 48px;
    margin-bottom: 20px;


    /* Inside auto layout */

    /* flex: none;
    order: 0;
    flex-grow: 0; */
}

.RectangleOneLogo{
  height:21.55px;
  width:11.05px;
  position: relative;
  left:27px;
  top:5px;

/* Primary color */

background: #3766E8;
border-radius: 100px;
transform: rotate(130deg);
}

.RectangleTwoLogo{
    height:42.37px;
    width:11.05px;
    position: relative;
    left:20px;
    top: -15px;
  
  /* Primary color */
  
  background: #3766E8;
  border-radius: 100px;
  transform: rotate(130deg);
}

.RectangleThreeLogo{
    height:27.84px;
    width:11.05px;
    position: relative;
    left:12px;
    top:-37px;
  
  /* Primary color */
  
  background: #3766E8;
  border-radius: 100px;
  transform: rotate(130deg);
}

.HelperText{
    /* font-family: 'Roboto'; */
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* or 131% */

text-align: center;

/* Text Primary */

color: #545454;
}

.CompanySizeButton{
    margin-right: 20px ;
    border: none;
}
.Selected{
    background-color: #3B71CA !important;
    color:#FFFFFF;
}
.SubmitButton{
    width: 100% !important;
}